header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 80px;
    position: sticky;
    top:0;
    margin: 0 auto;
    overflow: hidden;
    background-color: #000;
}
.logo{
    text-decoration: none;
    color:#eee
}
.header-links{
    display: flex;
}
.header-links ul li a{
    text-decoration: none;
    padding: 0px 15px;
    color:#eee
}

.header-links ul li a:hover{
    border-bottom: solid 2px #eee;
}
.badge{
    z-index: 1;
    position: fixed;
}